
{erl_opts, [
    {parse_transform, lager_transform}
]}.

{deps,[
    {lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
    {notify, ".*", {git, "https://github.com/SongCF/notify.git", {branch, "master"}}},
    {cluster, ".*", {git, "https://github.com/SongCF/cluster.git", {branch, "master"}}}
]}.


